<ng-container>
  <div class="container">
    <div
      class="flex-container"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="center"
    >
      <div class="bio" fxFlex="60">
        <h1>Bogdan Kostadinov</h1>
        <h2>Software Developer</h2>
        <p>
          A motivated and keen developer who graduated in Computing from the
          University of Greenwich with a First Honours degree. Currently
          specialising in IT and software development, focusing on gaining
          knowledge and self-improvement, whilst delivering results.
        </p>
        <p>
          Possesses strong team working skills, having participated in many
          group and individual projects both inside and outside of university.
        </p>
        <p>
          Experienced in full software development lifecycle with a focus on
          Agile processes. Fully implemented various features and resolved bugs
          ranging from the back-end to the front-end. Proficient in
          object-oriented languages, front-end design, software patterns,
          practices, and Git version control system.
        </p>
      </div>
      <img fxFlex="40" mat-card-image src="../../assets/boko3.jpg" />
    </div>
  </div>
</ng-container>
