<mat-toolbar *ngIf="!openSidenav">
  <mat-toolbar-row>
    <button *ngIf="!openSidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-title">{{ title }}</span>
    <span class="toolbar-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #drawer
    [mode]="mode"
    [opened]="openSidenav"
    [ngClass]="{ 'padded-top': !openSidenav }"
  >
    <img mat-card-image class="boko_img" src="../../assets/boko1Crop.jpg" />
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a
        [routerLink]="['/about-me']"
        mat-list-item
        href="#"
        routerLinkActive="active-link"
      >
        <mat-icon class="icon" [routerLinkActive]="['active-icon']"
          >person</mat-icon
        >
        <span class="ml-2 text" [routerLinkActive]="['active-text']"
          >About me</span
        >
      </a>
      <a
        [routerLink]="['/projects-page']"
        routerLinkActive="active-link"
        mat-list-item
        href="#"
        ><mat-icon [routerLinkActive]="['active-icon']">code</mat-icon
        ><span class="ml-2" [routerLinkActive]="['active-text']">
          Projects
        </span></a
      >
      <a [routerLink]="['/profile']" mat-list-item href="#"
        ><mat-icon [routerLinkActive]="['active-icon']">list_alt</mat-icon
        ><span class="ml-2" [routerLinkActive]="['active-text']">
          Resume
        </span></a
      >
      <mat-divider></mat-divider>
      <a
        mat-list-item
        (click)="openConfirmationWindow('https://github.com/BogdanKostadinov')"
        ><fa-icon class="mat-icon material-icons" [icon]="faGithub"></fa-icon
        ><span class="ml-2"> Github </span></a
      >
      <a
        mat-list-item
        (click)="
          openConfirmationWindow(
            'https://www.linkedin.com/in/bogdan-kostadinov/'
          )
        "
        ><fa-icon class="mat-icon material-icons" [icon]="faLinkedIn"></fa-icon
        ><span class="ml-2"> LinkedIn </span></a
      >
      <a mat-list-item (click)="openConfirmationWindow('downloadCv')"
        ><fa-icon class="mat-icon material-icons" [icon]="faDownload"></fa-icon
        ><span class="ml-2"> Download CV </span></a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main" [ngClass]="{ 'padded-top': !openSidenav }">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
