<div
  class="flex-container"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutAlign="center"
>
  <div class="bio" fxFlex="70">
    <h1 class="name">Bogdan Kostadinov</h1>
    <h2>Software Developer</h2>
    <p>
      Experienced software developer with a strong technical background and a
      passion for innovation. Effectively collaborated with diverse teams of
      engineers, ranging from junior to senior levels, and product managers to
      deliver successful projects.
    </p>
    <p>
      Proficient in Git version control, microservices architecture, agile
      methodologies, and the full software development lifecycle.
    </p>
    <p>
      Skilled in implementing diverse features and resolving bugs across
      back-end and front-end platforms. Deep understanding of object-oriented
      languages, front-end design, software design patterns, and best practices.
    </p>
  </div>
  <img fxFlex="30" mat-card-image src="../../assets/boko3.jpg" />
</div>
