<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button *ngIf="!openSidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ title }}</span>
    <span class="toolbar-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [mode]="mode" class="sidenav" [opened]="openSidenav">
    <img mat-card-image src="../../assets/boko1Crop.jpg" />
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a
        [routerLink]="['/about-me']"
        mat-list-item
        href="#"
        routerLinkActive="active-link"
      >
        <mat-icon class="icon" [routerLinkActive]="['active-icon']"
          >person</mat-icon
        >
        <span class="ml-2 text" [routerLinkActive]="['active-text']"
          >About me</span
        >
      </a>
      <a
        [routerLink]="['/skills-section-component']"
        routerLinkActive="active-link"
        mat-list-item
        href="#"
        ><mat-icon [routerLinkActive]="['active-icon']">code</mat-icon
        ><span class="ml-2" [routerLinkActive]="['active-text']">
          Projects
        </span></a
      >
      <a [routerLink]="['/profile']" mat-list-item href="#"
        ><mat-icon [routerLinkActive]="['active-icon']">list_alt</mat-icon
        ><span class="ml-2" [routerLinkActive]="['active-text']">
          Resume
        </span></a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
