.main {
    overflow-y      : hidden;
    overflow-x      : hidden;
    background-color: #111821;
}

.sidenav-container {
    position: relative;
}

.sidenav-content {
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.sidenav {
    width           : 220px;
    background-color: #1e2a3a;

    img {
        margin-top   : 25px;
        margin-bottom: 25px;
        max-width    : 50%;
        border-radius: 50%;
        display      : block;
        margin-left  : auto;
        margin-right : auto;
    }

    .routingItems {
        margin-left: 35px;
    }

    .navigationList {
        mat-icon {
            color         : rgba(255, 255, 255, 0.7);
            vertical-align: middle;
        }

        .ml-2 {
            vertical-align: middle;
            color         : rgba(255, 255, 255, 0.7);
        }
    }

    .mat-divider {
        border-top-color: rgb(255 255 255 / 43%);
        opacity         : .45;
        margin-top      : 15px;
    }
}

.mat-toolbar {
    // background: #eee;  // Change the color of the navigation bar
    // color: #000;  // Change the font color of the navigation bar
    position: sticky;
    top     : 0;
    z-index : 1;
}

.is-active {
    background-color: #aaa;
    color           : #fff;
}

.is-active:hover {
    background-color: #aaa;
    color           : #fff;
}

.is-active:focus {
    background-color: #aaa;
    color           : #fff;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.inner-content {
    position: absolute;
    bottom  : 0;
    left    : 0;
}

.active {
    font-weight     : bold;
    background-color: #CFCFCF;
    color           : darkred;
}

.active:active {
    font-weight     : bold;
    background-color: lightpink;
}

.active-icon {
    color: #54B689;
}