.skills {
  min-height: 300px;
}

.section-intro {
  text-align: left;
  margin: 2rem 6rem 3rem;

  h1.title-section {
    margin-bottom: 1.5rem;
    color: white;
    font-size: 2rem;
    font-weight: bold;
  }

  p {
    max-width: 800px;
    color: white !important;
  }

  @media (max-width: 1300px) {
    margin-left: 3rem;
  }
}
