/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import './node_modules/bootstrap/scss/bootstrap';

html,
body {
  line-height: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.dark-dialog-theme {
  .mat-mdc-dialog-container,
  .mat-mdc-dialog-surface {
    background-color: #1e2a3a;
    color: white;
  }
}
